/* Estilos iniciales de la imagen */
#imagen {
    filter: sepia(100%);
  }
  
  /* Selector de atributo para aplicar los estilos según el valor de data-estado */
  #imagen[data-estado="neutral"] {
    filter: grayscale(50%);
  }
  
  #imagen[data-estado="feliz"] {
    filter: grayscale(0%);
  }
  
  #imagen[data-estado="triste"] {
    filter: brightness(60%) sepia(70%);
  }
  
  #imagen[data-estado="enojado"] {
    filter: hue-rotate(320deg) brightness(60%);
  }
  